$primary-basic: #ea6f5a;
$secondary-basic: #c8c8c8;

$gray-basic: #3f3f3f;
$gray-dark: #333333;
$gray-light: #4f4f4f;
$gray-brighter: #969696;

@mixin size($width, $height:$width){
  width: $width;
  height: $height;
}
