$gray-brighter: #969696;

// primary
$color-primary: #ea6f5a !default;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

// grey
$color-grey: #eeeeee;
$color-grey-100: #c8c8c8;
$color-grey-300: #969696;
$color-grey-500: #4f4f4f;
$color-grey-700: #3f3f3f;
$color-grey-900: #333333;
// dark
$color-dark: $color-grey-700 !default;
$color-darkness: $color-grey-900 !default;
// light
$color-light: $color-grey-100 !default;
$color-lightness: $color-grey !default;
