@import 'base';
@import 'mixins';

html, body {
  background: rgb(74,82,87);
}

.header {
  &{  // self styling
    width: 100vw;
    height: 56px;
    background: #3f3f3f;
    border-bottom: 1px solid $gray-dark;
  }

  .nav{
    &{  // self styling
      min-width: 768px;
      max-width: 1440px;
      display: flex;
    }
    .logo{
      width: 100px;
      &__img{
        width: 100%;
      }
    }
    .menu{
      width: 407px;
      &__item{
        padding: 15px;
        display: inline-block;
      }
      &__link{
        color: $secondary-basic;
        font-size: 17px;
        font-family: Georgia, "Times New Roman", Times, "Songti SC", serif;
        line-height: 26px;
        text-decoration: none;
        &--active{
          color: $primary-basic;
        }
        .search{

        }
      }
    }
    .tool-bar{}
  }
}
